@-moz-document url-prefix("https://www.youtube.com/watch") {
/* blocks the display of all YouTube comments and chat boxes */

    /* leaving this commented out because otherwise it causes 
    infinite comment rendering/loading attempts */
    /*
    ytd-comment-thread-renderer.ytd-item-section-renderer {
        display: none;   
    } 
    */

    /* hides comments but leaves main container element intact, 
        so lazy loading doesn't error */
    yt-formatted-string#content-text,
    ytd-comment-action-buttons-renderer#action-buttons,
    ytd-button-renderer#more-replies,
    div#main.ytd-comment-renderer,
    yt-img-shadow.ytd-comment-renderer img#img.yt-img-shadow {
        display: none;
    }

    /* hides comment count number */
    .count-text {
        display: none;
    }

    /* hides chat on live videos */
    ytd-live-chat-frame#chat {
        display: none;   
    }
}